# Defi IA 2023 - Prédiction du prix d'une chambre d'hôtels

In [42]:
import pandas as pd
import numpy as np
import os
import glob

## Mise en lien des requêtes et des features des differents hotels

In [10]:
hotels_features = pd.read_csv(os.path.join('features', 'features_hotels.csv'))
laulau_requests_copenhagen = pd.read_csv(os.path.join('requests', 'laulau_copenhagen_30_0.csv'))
laulau_requests_copenhagen = laulau_requests_copenhagen.drop(columns = 'Unnamed: 0')

In [11]:
laulau_requests_copenhagen

     hotel_id  price  stock        city  date language  mobile  avatar_id
0         519    208     68  copenhagen    30   french       0       3533
1         523     85     41  copenhagen    30   french       0       3533
2         898     86     24  copenhagen    30   french       0       3533
3         770    210     73  copenhagen    30   french       0       3533
4         562    215     74  copenhagen    30   french       0       3533
..        ...    ...    ...         ...   ...      ...     ...        ...
139       332    208     86  copenhagen    30   french       0       3533
140       978    299    120  copenhagen    30   french       0       3533
141       335     91     46  copenhagen    30   french       0       3533
142       385    283    101  copenhagen    30   french       0       3533
143       367     96     24  copenhagen    30   french       0       3533

[144 rows x 8 columns]

La commande ci-dessous permet de charger les informations en lien avec la requête lancée. Ainsi, on peut lier les caractéristiques de l'hôtel avec la recherche effectuée par un avatar, dans une ville et une langue particulière.

In [19]:
features_laulau_copenhagen = hotels_features.loc[hotels_features['hotel_id'].loc[laulau_requests_copenhagen['hotel_id']]]
features_laulau_copenhagen = features_laulau_copenhagen.reset_index()

In [35]:
df = pd.concat([features_laulau_copenhagen, laulau_requests_copenhagen[['price', 'stock', 'date', 'language', 'mobile']]], axis = 1)
df

,index,hotel_id,group,brand,city,parking,pool,children_policy,price,stock,date,language,mobile
0,519,519,Yin Yang,Royal Lotus,copenhagen,0,0,0,208,68,30,french,0
1,523,523,Independant,Independant,copenhagen,0,0,0,85,41,30,french,0
2,898,898,Yin Yang,8 Premium,copenhagen,1,0,0,86,24,30,french,0
3,770,770,Morriott International,Morriot,copenhagen,1,1,0,210,73,30,french,0
4,562,562,Chillton Worldwide,Quadrupletree,copenhagen,0,0,0,215,74,30,french,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,332,332,Chillton Worldwide,Quadrupletree,copenhagen,1,1,0,208,86,30,french,0
140,978,978,Chillton Worldwide,Chill Garden Inn,copenhagen,1,0,0,299,120,30,french,0
141,335,335,Independant,Independant,copenhagen,0,0,0,91,46,30,french,0
142,385,385,Accar Hotels,Safitel,copenhagen,0,0,0,283,101,30,french,0
143,367,367,Yin Yang,8 Premium,copenhagen,0,0,0,96,24,30,french,0

## Automatisation du code pour création des datasets

In [30]:
import urllib.parse
import requests

domain = "51.91.251.0"
port = 3000
host = f"http://{domain}:{port}"
path = lambda x: urllib.parse.urljoin(host, x)
user_id = '88be3640-82ae-46c6-ac59-92a9679d453d'

On va chercher à créer une liste contenant le nom de tous les avatars.

In [39]:
r = requests.get(path(f"avatars/{user_id}"))
list_avatars = []
for avatar in r.json():
    list_avatars.append(avatar['name'])

Ayant tous les avatars, on peut créer les datasets pour chacun des avatars, s'il n'existe pas déjà, et les compléter avec les données récupérées.

In [43]:
hotels_features = pd.read_csv(os.path.join('features', 'features_hotels.csv'))

Le code ci-dessous permet de créer le dataset associé à un avatar précis.

In [67]:
list_requests = glob.glob(os.path.join('requests', '*'))
list_requests = [request.split('\\')[-1] for request in list_requests]
for avatar in list_avatars:
    for request in list_requests:
        name_avatar_request = request.split('_')[0] 
        if not os.path.exists(os.path.join('datasets', avatar + '_data.csv')):
            if (avatar==name_avatar_request):
                request_avatar = pd.read_csv(os.path.join('requests', request))
                request_avatar = request_avatar.drop(columns = 'Unnamed: 0')
                features_avatar = hotels_features.loc[hotels_features['hotel_id'].loc[request_avatar['hotel_id']]]
                features_avatar = features_avatar.reset_index()
                df = pd.concat([features_avatar, request_avatar[['price', 'stock', 'date', 'language', 'mobile']]], axis = 1)
                df.to_csv(os.path.join('datasets', avatar + '_data.csv'))
        else:
            df_old = pd.read_csv(os.path.join('datasets', avatar + '_data.csv'))
            df_old = df_old.drop(columns = 'Unnamed: 0')
            request_avatar = pd.read_csv(os.path.join('requests', request))
            request_avatar = request_avatar.drop(columns = 'Unnamed: 0')
            features_avatar = hotels_features.loc[hotels_features['hotel_id'].loc[request_avatar['hotel_id']]]
            features_avatar = features_avatar.reset_index()
            df_aux = pd.concat([features_avatar, request_avatar[['price', 'stock', 'date', 'language', 'mobile']]], axis = 1)
            df = pd.concat([df,df_aux], axis = 0)
            df.to_csv(os.path.join('datasets', avatar + '_data.csv'))

df_old=    index  hotel_id  price  stock        city  date language  mobile  \
0      0       519    208     68  copenhagen    30   french       0
1      1       523     85     41  copenhagen    30   french       0
2      2       898     86     24  copenhagen    30   french       0
3      3       770    210     73  copenhagen    30   french       0
4      4       562    215     74  copenhagen    30   french       0

   avatar_id  price.1  stock.1  date.1 language.1  mobile.1
0       3533      208       68      30     french         0
1       3533       85       41      30     french         0
2       3533       86       24      30     french         0
3       3533      210       73      30     french         0
4       3533      215       74      30     french         0
df_aux=    index  hotel_id                   group          brand        city  \
0    519       519                Yin Yang    Royal Lotus  copenhagen
1    523       523             Independant    Independant  copenhagen
2    898       898                Yin Yang      8 Premium  copenhagen
3    770       770  Morriott International        Morriot  copenhagen
4    562       562      Chillton Worldwide  Quadrupletree  copenhagen

   parking  pool  children_policy  price  stock  date language  mobile
0        0     0                0    208     68    30   french       0
1        0     0                0     85     41    30   french       0
2        1     0                0     86     24    30   french       0
3        1     1                0    210     73    30   french       0
4        0     0                0    215     74    30   french       0
     index  hotel_id  price  stock        city  date language  mobile  \
0        0       519    208     68  copenhagen    30   french       0
1        1       523     85     41  copenhagen    30   french       0
2        2       898     86     24  copenhagen    30   french       0
3        3       770    210     73  copenhagen    30   french       0
4        4       562    215     74  copenhagen    30   french       0
..     ...       ...    ...    ...         ...   ...      ...     ...
139    332       332    208     86  copenhagen    30   french       0
140    978       978    299    120  copenhagen    30   french       0
141    335       335     91     46  copenhagen    30   french       0
142    385       385    283    101  copenhagen    30   french       0
143    367       367     96     24  copenhagen    30   french       0

     avatar_id  price.1  stock.1  date.1 language.1  mobile.1  \
0       3533.0    208.0     68.0    30.0     french       0.0
1       3533.0     85.0     41.0    30.0     french       0.0
2       3533.0     86.0     24.0    30.0     french       0.0
3       3533.0    210.0     73.0    30.0     french       0.0
4       3533.0    215.0     74.0    30.0     french       0.0
..         ...      ...      ...     ...        ...       ...
139        NaN      NaN      NaN     NaN        NaN       NaN
140        NaN      NaN      NaN     NaN        NaN       NaN
141        NaN      NaN      NaN     NaN        NaN       NaN
142        NaN      NaN      NaN     NaN        NaN       NaN
143        NaN      NaN      NaN     NaN        NaN       NaN

                  group             brand  parking  pool  children_policy
0                   NaN               NaN      NaN   NaN              NaN
1                   NaN               NaN      NaN   NaN              NaN
2                   NaN               NaN      NaN   NaN              NaN
3                   NaN               NaN      NaN   NaN              NaN
4                   NaN               NaN      NaN   NaN              NaN
..                  ...               ...      ...   ...              ...
139  Chillton Worldwide     Quadrupletree      1.0   1.0              0.0
140  Chillton Worldwide  Chill Garden Inn      1.0   0.0              0.0
141         Independant       Independant      0.0   0.0              0.0
142        Accar Hotels           Safitel      0.0   0.0              0.0
143            Yin Yang         8 Premium      0.0   0.0              0.0

[288 rows x 19 columns]
df_old=    index  hotel_id  price  stock        city  date language  mobile  \
0      0       519    208     68  copenhagen    30   french       0
1      1       523     85     41  copenhagen    30   french       0
2      2       898     86     24  copenhagen    30   french       0
3      3       770    210     73  copenhagen    30   french       0
4      4       562    215     74  copenhagen    30   french       0

   avatar_id  price.1  stock.1  date.1 language.1  mobile.1 group brand  \
0     3533.0    208.0     68.0    30.0     french       0.0   NaN   NaN
1     3533.0     85.0     41.0    30.0     french       0.0   NaN   NaN
2     3533.0     86.0     24.0    30.0     french       0.0   NaN   NaN
3     3533.0    210.0     73.0    30.0     french       0.0   NaN   NaN
4     3533.0    215.0     74.0    30.0     french       0.0   NaN   NaN

   parking  pool  children_policy
0      NaN   NaN              NaN
1      NaN   NaN              NaN
2      NaN   NaN              NaN
3      NaN   NaN              NaN
4      NaN   NaN              NaN
df_aux=    index  hotel_id         group           brand   city  parking  pool  \
0    238       238  Boss Western  J.Halliday Inn  paris        1     0
1    225       225  Boss Western  J.Halliday Inn  paris        1     0
2    133       133   Independant     Independant  paris        0     0
3    306       306  Accar Hotels         Marcure  paris        0     1
4    912       912  Boss Western  J.Halliday Inn  paris        0     0

   children_policy  price  stock  date language  mobile
0                0    172     57    30  swedish       1
1                0    178     48    30  swedish       1
2                0    171     49    30  swedish       1
3                0    203     72    30  swedish       1
4                0    178     34    30  swedish       1
     index  hotel_id  price  stock        city  date language  mobile  \
0        0       519    208     68  copenhagen    30   french       0
1        1       523     85     41  copenhagen    30   french       0
2        2       898     86     24  copenhagen    30   french       0
3        3       770    210     73  copenhagen    30   french       0
4        4       562    215     74  copenhagen    30   french       0
..     ...       ...    ...    ...         ...   ...      ...     ...
160    301       301    124     39       paris    30  swedish       1
161    132       132    280    118       paris    30  swedish       1
162    841       841     85     48       paris    30  swedish       1
163    397       397    287    100       paris    30  swedish       1
164    357       357    175     50       paris    30  swedish       1

     avatar_id  price.1  stock.1  date.1 language.1  mobile.1  \
0       3533.0    208.0     68.0    30.0     french       0.0
1       3533.0     85.0     41.0    30.0     french       0.0
2       3533.0     86.0     24.0    30.0     french       0.0
3       3533.0    210.0     73.0    30.0     french       0.0
4       3533.0    215.0     74.0    30.0     french       0.0
..         ...      ...      ...     ...        ...       ...
160        NaN      NaN      NaN     NaN        NaN       NaN
161        NaN      NaN      NaN     NaN        NaN       NaN
162        NaN      NaN      NaN     NaN        NaN       NaN
163        NaN      NaN      NaN     NaN        NaN       NaN
164        NaN      NaN      NaN     NaN        NaN       NaN

                      group           brand  parking  pool  children_policy
0                       NaN             NaN      NaN   NaN              NaN
1                       NaN             NaN      NaN   NaN              NaN
2                       NaN             NaN      NaN   NaN              NaN
3                       NaN             NaN      NaN   NaN              NaN
4                       NaN             NaN      NaN   NaN              NaN
..                      ...             ...      ...   ...              ...
160             Independant     Independant      0.0   0.0              0.0
161            Accar Hotels         Safitel      0.0   1.0              0.0
162             Independant     Independant      0.0   0.0              0.0
163  Morriott International         Corlton      0.0   1.0              0.0
164            Boss Western  J.Halliday Inn      0.0   0.0              0.0

[453 rows x 19 columns]
df_old=    index  hotel_id  price  stock        city  date language  mobile  \
0      0       519    208     68  copenhagen    30   french       0
1      1       523     85     41  copenhagen    30   french       0
2      2       898     86     24  copenhagen    30   french       0
3      3       770    210     73  copenhagen    30   french       0
4      4       562    215     74  copenhagen    30   french       0

   avatar_id  price.1  stock.1  date.1 language.1  mobile.1 group brand  \
0     3533.0    208.0     68.0    30.0     french       0.0   NaN   NaN
1     3533.0     85.0     41.0    30.0     french       0.0   NaN   NaN
2     3533.0     86.0     24.0    30.0     french       0.0   NaN   NaN
3     3533.0    210.0     73.0    30.0     french       0.0   NaN   NaN
4     3533.0    215.0     74.0    30.0     french       0.0   NaN   NaN

   parking  pool  children_policy
0      NaN   NaN              NaN
1      NaN   NaN              NaN
2      NaN   NaN              NaN
3      NaN   NaN              NaN
4      NaN   NaN              NaN
df_aux=    index  hotel_id         group           brand   city  parking  pool  \
0    254       254  Boss Western  J.Halliday Inn  paris        0     0
1    980       980   Independant     Independant  paris        0     0
2    614       614  Accar Hotels            Ibas  paris        1     0
3    148       148   Independant     Independant  paris        0     0
4    656       656  Boss Western    Boss Western  paris        1     0

   children_policy  price  stock  date language  mobile
0                0    170     82    35  swedish       1
1                0    118     64    35  swedish       1
2                0     93     32    35  swedish       1
3                0    123     60    35  swedish       1
4                0    115     64    35  swedish       1
     index  hotel_id  price  stock        city  date language  mobile  \
0        0       519    208     68  copenhagen    30   french       0
1        1       523     85     41  copenhagen    30   french       0
2        2       898     86     24  copenhagen    30   french       0
3        3       770    210     73  copenhagen    30   french       0
4        4       562    215     74  copenhagen    30   french       0
..     ...       ...    ...    ...         ...   ...      ...     ...
151    948       948    200    113       paris    35  swedish       1
152    903       903     92     72       paris    35  swedish       1
153    526       526    287    155       paris    35  swedish       1
154    882       882    196    110       paris    35  swedish       1
155    735       735    120     59       paris    35  swedish       1

     avatar_id  price.1  stock.1  date.1 language.1  mobile.1         group  \
0       3533.0    208.0     68.0    30.0     french       0.0           NaN
1       3533.0     85.0     41.0    30.0     french       0.0           NaN
2       3533.0     86.0     24.0    30.0     french       0.0           NaN
3       3533.0    210.0     73.0    30.0     french       0.0           NaN
4       3533.0    215.0     74.0    30.0     french       0.0           NaN
..         ...      ...      ...     ...        ...       ...           ...
151        NaN      NaN      NaN     NaN        NaN       NaN  Accar Hotels
152        NaN      NaN      NaN     NaN        NaN       NaN   Independant
153        NaN      NaN      NaN     NaN        NaN       NaN  Accar Hotels
154        NaN      NaN      NaN     NaN        NaN       NaN  Accar Hotels
155        NaN      NaN      NaN     NaN        NaN       NaN  Boss Western

            brand  parking  pool  children_policy
0             NaN      NaN   NaN              NaN
1             NaN      NaN   NaN              NaN
2             NaN      NaN   NaN              NaN
3             NaN      NaN   NaN              NaN
4             NaN      NaN   NaN              NaN
..            ...      ...   ...              ...
151       Marcure      1.0   1.0              0.0
152   Independant      1.0   0.0              0.0
153       Safitel      0.0   0.0              0.0
154       Marcure      1.0   1.0              0.0
155  Boss Western      0.0   0.0              0.0

[609 rows x 19 columns]
df_old=    index  hotel_id         group           brand   city  parking  pool  \
0    238       238  Boss Western  J.Halliday Inn  paris        1     0
1    225       225  Boss Western  J.Halliday Inn  paris        1     0
2    133       133   Independant     Independant  paris        0     0
3    306       306  Accar Hotels         Marcure  paris        0     1
4    912       912  Boss Western  J.Halliday Inn  paris        0     0

   children_policy  price  stock  date language  mobile
0                0    172     57    30  swedish       1
1                0    178     48    30  swedish       1
2                0    171     49    30  swedish       1
3                0    203     72    30  swedish       1
4                0    178     34    30  swedish       1
df_aux=    index  hotel_id         group           brand   city  parking  pool  \
0    254       254  Boss Western  J.Halliday Inn  paris        0     0
1    980       980   Independant     Independant  paris        0     0
2    614       614  Accar Hotels            Ibas  paris        1     0
3    148       148   Independant     Independant  paris        0     0
4    656       656  Boss Western    Boss Western  paris        1     0

   children_policy  price  stock  date language  mobile
0                0    170     82    35  swedish       1
1                0    118     64    35  swedish       1
2                0     93     32    35  swedish       1
3                0    123     60    35  swedish       1
4                0    115     64    35  swedish       1
     index  hotel_id         group           brand   city  parking  pool  \
0      238       238  Boss Western  J.Halliday Inn  paris        1     0
1      225       225  Boss Western  J.Halliday Inn  paris        1     0
2      133       133   Independant     Independant  paris        0     0
3      306       306  Accar Hotels         Marcure  paris        0     1
4      912       912  Boss Western  J.Halliday Inn  paris        0     0
..     ...       ...           ...             ...    ...      ...   ...
151    948       948  Accar Hotels         Marcure  paris        1     1
152    903       903   Independant     Independant  paris        1     0
153    526       526  Accar Hotels         Safitel  paris        0     0
154    882       882  Accar Hotels         Marcure  paris        1     1
155    735       735  Boss Western    Boss Western  paris        0     0

     children_policy  price  stock  date language  mobile
0                  0    172     57    30  swedish       1
1                  0    178     48    30  swedish       1
2                  0    171     49    30  swedish       1
3                  0    203     72    30  swedish       1
4                  0    178     34    30  swedish       1
..               ...    ...    ...   ...      ...     ...
151                0    200    113    35  swedish       1
152                0     92     72    35  swedish       1
153                0    287    155    35  swedish       1
154                0    196    110    35  swedish       1
155                0    120     59    35  swedish       1

[321 rows x 13 columns]