# Defi IA 2023 - Prédiction du prix d'une chambre d'hôtels

In [1]:
import pandas as pd
import numpy as np
import os
import glob
import urllib.parse
import requests
import os

In [2]:
domain = "51.91.251.0"
port = 3000
host = f"http://{domain}:{port}"
path = lambda x: urllib.parse.urljoin(host, x)
user_id = '88be3640-82ae-46c6-ac59-92a9679d453d'

## Création d'un avatar

In [ ]:
name = 'laulau' #donner le nom de l'avatar
new_avatar = requests.post(path(f'avatars/{user_id}/{name}'))

In [6]:
avatar_info = requests.get(path(f"avatars/{user_id}"))
avatar_names = []

for avatar in avatar_info.json():
    avatar_names.append(avatar['name'])

## Excécution des requêtes

In [6]:
cities = ['valletta', 'vilnius']  #cities=['amsterdam','madrid','paris','rome','sofia','vienna']
dates = [30] #dates=[25,20,15,10]
languages = ['belgian', 'czech'] #languages=['austrian','cypriot','dutch','estonian','finnish','french','german','greek','hungarian','irish','italian','lithuanian','luxembourgish', 'maltese','polish','slovakian','spanish','swedish']
mobiles=[0,1]
avatar = 'laulau' #nom de l'avatar à tester

if not os.path.exists('requests'):
    os.mkdir('requests')


#listes contenant toutes les combinaisons possibles pour un avatar
combination=[]
for count1,date in enumerate(dates):
    for count2,city in enumerate(cities):
        for count3,language in enumerate(languages):
            for count4,mobile in enumerate(mobiles):
                combination.append((city,date,language,mobile))
                print(combination)
                params = {
                "avatar_name": avatar,
                "language": language,
                "city": city,
                "date": date,
                "mobile": mobile,}
                print(params)

                ## REQUÊTE ##
                requete = requests.get(path(f"pricing/{user_id}"), params=params)
                requete.json()
                pricing_requests = []

                request = [requete]
                for requete in request:
                    pricing_requests.append(
                        pd.DataFrame(requete.json()['prices']).assign(**requete.json()['request'])
                    )

                pricing_requests = pd.concat(pricing_requests)
                print(pricing_requests)
                pricing_requests.to_csv(os.path.join('requests', str(avatar) +'_'+str(city)+ '_' + str(date) + '_' + str(language) + '_' + str(mobile)+'.csv'))

[('valletta', 30, 'belgian', 0)]
{'avatar_name': 'laulau', 'language': 'belgian', 'city': 'valletta', 'date': 30, 'mobile': 0}
    hotel_id  price  stock      city  date language  mobile  avatar_id
0        732    160     93  valletta    30  belgian       0       3533
1        237    143     56  valletta    30  belgian       0       3533
2        244    274     88  valletta    30  belgian       0       3533
3        106    141     52  valletta    30  belgian       0       3533
4        389    106     38  valletta    30  belgian       0       3533
5        371     94     46  valletta    30  belgian       0       3533
6        334     78     23  valletta    30  belgian       0       3533
7        363    133     50  valletta    30  belgian       0       3533
8        639    162     76  valletta    30  belgian       0       3533
9        718    137     56  valletta    30  belgian       0       3533
10       965    133     56  valletta    30  belgian       0       3533
11        55    104     41  valletta    30  belgian       0       3533
12       360    160     62  valletta    30  belgian       0       3533
13       476    123     33  valletta    30  belgian       0       3533
14       592    247     99  valletta    30  belgian       0       3533
15       985     68     54  valletta    30  belgian       0       3533
16       466    135     56  valletta    30  belgian       0       3533
17       480     69     22  valletta    30  belgian       0       3533
18       643     74     25  valletta    30  belgian       0       3533
19        81    127     62  valletta    30  belgian       0       3533
20       325    100     23  valletta    30  belgian       0       3533
21       754    229    108  valletta    30  belgian       0       3533
22       209     70     46  valletta    30  belgian       0       3533
23       424    164     74  valletta    30  belgian       0       3533
24       832    130     48  valletta    30  belgian       0       3533
25       282    132     50  valletta    30  belgian       0       3533
26       491    157     85  valletta    30  belgian       0       3533
27       746    154     71  valletta    30  belgian       0       3533
28       504    155     74  valletta    30  belgian       0       3533
29       200    130     66  valletta    30  belgian       0       3533
30       749    101     23  valletta    30  belgian       0       3533
31       295     72     21  valletta    30  belgian       0       3533
32       404    139     20  valletta    30  belgian       0       3533
33       160     92     21  valletta    30  belgian       0       3533
34       709    138     52  valletta    30  belgian       0       3533
35       859    132     58  valletta    30  belgian       0       3533
36       376    159     93  valletta    30  belgian       0       3533
37       719    152     97  valletta    30  belgian       0       3533
38       861    173     73  valletta    30  belgian       0       3533
39       512    179     67  valletta    30  belgian       0       3533
40       988    140     49  valletta    30  belgian       0       3533
41       400     97     55  valletta    30  belgian       0       3533
42       598    140     55  valletta    30  belgian       0       3533
43       521     67     24  valletta    30  belgian       0       3533
44       905    127     65  valletta    30  belgian       0       3533
45       501     74     22  valletta    30  belgian       0       3533
46       377    127     64  valletta    30  belgian       0       3533
47       134     77     22  valletta    30  belgian       0       3533
[('valletta', 30, 'belgian', 0), ('valletta', 30, 'belgian', 1)]
{'avatar_name': 'laulau', 'language': 'belgian', 'city': 'valletta', 'date': 30, 'mobile': 1}
    hotel_id  price  stock      city  date language  mobile  avatar_id
0        718    138     56  valletta    30  belgian       1       3533
1        491    157     85  valletta    30  belgian       1       3533
2        521     67     24  valletta    30  belgian       1       3533
3        237    143     56  valletta    30  belgian       1       3533
4        754    229    108  valletta    30  belgian       1       3533
5        512    179     67  valletta    30  belgian       1       3533
6        376    159     93  valletta    30  belgian       1       3533
7        832    130     48  valletta    30  belgian       1       3533
8        282    132     50  valletta    30  belgian       1       3533
9        749    101     23  valletta    30  belgian       1       3533
10       643     74     25  valletta    30  belgian       1       3533
11       719    152     97  valletta    30  belgian       1       3533
12       985     68     54  valletta    30  belgian       1       3533
13       400     97     55  valletta    30  belgian       1       3533
14       501     74     22  valletta    30  belgian       1       3533
15       377    127     64  valletta    30  belgian       1       3533
16       295     72     21  valletta    30  belgian       1       3533
17       732    161     93  valletta    30  belgian       1       3533
18       746    154     71  valletta    30  belgian       1       3533
19       371     94     46  valletta    30  belgian       1       3533
20       160     92     21  valletta    30  belgian       1       3533
21       598    141     55  valletta    30  belgian       1       3533
22       592    247     99  valletta    30  belgian       1       3533
23       965    133     56  valletta    30  belgian       1       3533
24        81    127     62  valletta    30  belgian       1       3533
25       200    130     66  valletta    30  belgian       1       3533
26       905    127     65  valletta    30  belgian       1       3533
27       709    138     52  valletta    30  belgian       1       3533
28       360    161     62  valletta    30  belgian       1       3533
29       504    155     74  valletta    30  belgian       1       3533
30       106    142     52  valletta    30  belgian       1       3533
31       988    141     49  valletta    30  belgian       1       3533
32       480     69     22  valletta    30  belgian       1       3533
33       466    135     56  valletta    30  belgian       1       3533
34       209     71     46  valletta    30  belgian       1       3533
35        55    104     41  valletta    30  belgian       1       3533
36       476    124     33  valletta    30  belgian       1       3533
37       861    173     73  valletta    30  belgian       1       3533
38       363    133     50  valletta    30  belgian       1       3533
39       404    139     20  valletta    30  belgian       1       3533
40       244    274     88  valletta    30  belgian       1       3533
41       424    165     74  valletta    30  belgian       1       3533
42       325    100     23  valletta    30  belgian       1       3533
43       859    132     58  valletta    30  belgian       1       3533
44       639    163     76  valletta    30  belgian       1       3533
45       389    106     38  valletta    30  belgian       1       3533
46       134     77     22  valletta    30  belgian       1       3533
47       334     78     23  valletta    30  belgian       1       3533
[('valletta', 30, 'belgian', 0), ('valletta', 30, 'belgian', 1), ('valletta', 30, 'czech', 0)]
{'avatar_name': 'laulau', 'language': 'czech', 'city': 'valletta', 'date': 30, 'mobile': 0}
    hotel_id  price  stock      city  date language  mobile  avatar_id
0        389    110     38  valletta    30    czech       0       3533
1        377    131     64  valletta    30    czech       0       3533
2        719    157     97  valletta    30    czech       0       3533
3        746    159     71  valletta    30    czech       0       3533
4         55    108     41  valletta    30    czech       0       3533
5        325    103     23  valletta    30    czech       0       3533
6        988    145     49  valletta    30    czech       0       3533
7        718    142     56  valletta    30    czech       0       3533
8        592    255     99  valletta    30    czech       0       3533
9        200    134     66  valletta    30    czech       0       3533
10       985     71     54  valletta    30    czech       0       3533
11       400    100     55  valletta    30    czech       0       3533
12       476    128     33  valletta    30    czech       0       3533
13       861    179     73  valletta    30    czech       0       3533
14       466    140     56  valletta    30    czech       0       3533
15       598    145     55  valletta    30    czech       0       3533
16       106    146     52  valletta    30    czech       0       3533
17       244    283     88  valletta    30    czech       0       3533
18       732    166     93  valletta    30    czech       0       3533
19       334     81     23  valletta    30    czech       0       3533
20       749    104     23  valletta    30    czech       0       3533
21       360    166     62  valletta    30    czech       0       3533
22       859    136     58  valletta    30    czech       0       3533
23       504    160     74  valletta    30    czech       0       3533
24       639    168     76  valletta    30    czech       0       3533
25       282    137     50  valletta    30    czech       0       3533
26       521     69     24  valletta    30    czech       0       3533
27        81    131     62  valletta    30    czech       0       3533
28       134     80     22  valletta    30    czech       0       3533
29       491    162     85  valletta    30    czech       0       3533
30       371     97     46  valletta    30    czech       0       3533
31       643     76     25  valletta    30    czech       0       3533
32       363    138     50  valletta    30    czech       0       3533
33       160     95     21  valletta    30    czech       0       3533
34       965    138     56  valletta    30    czech       0       3533
35       512    185     67  valletta    30    czech       0       3533
36       905    131     65  valletta    30    czech       0       3533
37       832    134     48  valletta    30    czech       0       3533
38       754    237    108  valletta    30    czech       0       3533
39       480     72     22  valletta    30    czech       0       3533
40       501     76     22  valletta    30    czech       0       3533
41       295     74     21  valletta    30    czech       0       3533
42       209     73     46  valletta    30    czech       0       3533
43       376    165     93  valletta    30    czech       0       3533
44       237    147     56  valletta    30    czech       0       3533
45       709    142     52  valletta    30    czech       0       3533
46       404    143     20  valletta    30    czech       0       3533
47       424    170     74  valletta    30    czech       0       3533
[('valletta', 30, 'belgian', 0), ('valletta', 30, 'belgian', 1), ('valletta', 30, 'czech', 0), ('valletta', 30, 'czech', 1)]
{'avatar_name': 'laulau', 'language': 'czech', 'city': 'valletta', 'date': 30, 'mobile': 1}
    hotel_id  price  stock      city  date language  mobile  avatar_id
0        965    140     56  valletta    30    czech       1       3533
1        389    111     38  valletta    30    czech       1       3533
2        491    165     85  valletta    30    czech       1       3533
3        719    159     97  valletta    30    czech       1       3533
4         81    133     62  valletta    30    czech       1       3533
5        592    259     99  valletta    30    czech       1       3533
6        476    129     33  valletta    30    czech       1       3533
7        521     70     24  valletta    30    czech       1       3533
8        985     72     54  valletta    30    czech       1       3533
9        859    138     58  valletta    30    czech       1       3533
10       400    102     55  valletta    30    czech       1       3533
11       746    161     71  valletta    30    czech       1       3533
12       749    106     23  valletta    30    czech       1       3533
13       643     77     25  valletta    30    czech       1       3533
14       200    136     66  valletta    30    czech       1       3533
15       480     73     22  valletta    30    czech       1       3533
16       861    181     73  valletta    30    czech       1       3533
17       371     98     46  valletta    30    czech       1       3533
18       160     96     21  valletta    30    czech       1       3533
19       377    133     64  valletta    30    czech       1       3533
20       639    170     76  valletta    30    czech       1       3533
21       134     81     22  valletta    30    czech       1       3533
22       988    147     49  valletta    30    czech       1       3533
23       466    142     56  valletta    30    czech       1       3533
24       334     82     23  valletta    30    czech       1       3533
25       237    149     56  valletta    30    czech       1       3533
26       360    168     62  valletta    30    czech       1       3533
27       501     77     22  valletta    30    czech       1       3533
28       732    168     93  valletta    30    czech       1       3533
29       512    188     67  valletta    30    czech       1       3533
30       295     75     21  valletta    30    czech       1       3533
31       709    144     52  valletta    30    czech       1       3533
32       209     74     46  valletta    30    czech       1       3533
33       376    167     93  valletta    30    czech       1       3533
34       282    139     50  valletta    30    czech       1       3533
35       718    144     56  valletta    30    czech       1       3533
36       905    133     65  valletta    30    czech       1       3533
37       325    105     23  valletta    30    czech       1       3533
38        55    109     41  valletta    30    czech       1       3533
39       404    145     20  valletta    30    czech       1       3533
40       832    136     48  valletta    30    czech       1       3533
41       598    147     55  valletta    30    czech       1       3533
42       754    240    108  valletta    30    czech       1       3533
43       424    172     74  valletta    30    czech       1       3533
44       363    140     50  valletta    30    czech       1       3533
45       504    163     74  valletta    30    czech       1       3533
46       106    148     52  valletta    30    czech       1       3533
47       244    287     88  valletta    30    czech       1       3533
[('valletta', 30, 'belgian', 0), ('valletta', 30, 'belgian', 1), ('valletta', 30, 'czech', 0), ('valletta', 30, 'czech', 1), ('vilnius', 30, 'belgian', 0)]
{'avatar_name': 'laulau', 'language': 'belgian', 'city': 'vilnius', 'date': 30, 'mobile': 0}
    hotel_id  price  stock     city  date language  mobile  avatar_id
0        758     62     29  vilnius    30  belgian       0       3533
1        498     91     40  vilnius    30  belgian       0       3533
2        620    142     71  vilnius    30  belgian       0       3533
3        189    105     66  vilnius    30  belgian       0       3533
4        161    115     76  vilnius    30  belgian       0       3533
..       ...    ...    ...      ...   ...      ...     ...        ...
88       545    124     52  vilnius    30  belgian       0       3533
89       794    209    119  vilnius    30  belgian       0       3533
90       279     54     26  vilnius    30  belgian       0       3533
91       670     80     21  vilnius    30  belgian       0       3533
92       887    111     48  vilnius    30  belgian       0       3533

[93 rows x 8 columns]
[('valletta', 30, 'belgian', 0), ('valletta', 30, 'belgian', 1), ('valletta', 30, 'czech', 0), ('valletta', 30, 'czech', 1), ('vilnius', 30, 'belgian', 0), ('vilnius', 30, 'belgian', 1)]
{'avatar_name': 'laulau', 'language': 'belgian', 'city': 'vilnius', 'date': 30, 'mobile': 1}
    hotel_id  price  stock     city  date language  mobile  avatar_id
0        461     56     56  vilnius    30  belgian       1       3533
1         18     52     25  vilnius    30  belgian       1       3533
2         47    124     77  vilnius    30  belgian       1       3533
3        118     85     46  vilnius    30  belgian       1       3533
4        320    117     52  vilnius    30  belgian       1       3533
..       ...    ...    ...      ...   ...      ...     ...        ...
88       189    105     66  vilnius    30  belgian       1       3533
89       914     58     26  vilnius    30  belgian       1       3533
90       648     63     42  vilnius    30  belgian       1       3533
91       498     91     40  vilnius    30  belgian       1       3533
92       240    140     91  vilnius    30  belgian       1       3533

[93 rows x 8 columns]
[('valletta', 30, 'belgian', 0), ('valletta', 30, 'belgian', 1), ('valletta', 30, 'czech', 0), ('valletta', 30, 'czech', 1), ('vilnius', 30, 'belgian', 0), ('vilnius', 30, 'belgian', 1), ('vilnius', 30, 'czech', 0)]
{'avatar_name': 'laulau', 'language': 'czech', 'city': 'vilnius', 'date': 30, 'mobile': 0}
    hotel_id  price  stock     city  date language  mobile  avatar_id
0        956     96     36  vilnius    30    czech       0       3533
1        935     63     23  vilnius    30    czech       0       3533
2        589     62     24  vilnius    30    czech       0       3533
3        976     86     22  vilnius    30    czech       0       3533
4        955     62     21  vilnius    30    czech       0       3533
..       ...    ...    ...      ...   ...      ...     ...        ...
88       623    188    104  vilnius    30    czech       0       3533
89       520     85     23  vilnius    30    czech       0       3533
90       355     83     51  vilnius    30    czech       0       3533
91       125     58     27  vilnius    30    czech       0       3533
92       221     56     28  vilnius    30    czech       0       3533

[93 rows x 8 columns]
[('valletta', 30, 'belgian', 0), ('valletta', 30, 'belgian', 1), ('valletta', 30, 'czech', 0), ('valletta', 30, 'czech', 1), ('vilnius', 30, 'belgian', 0), ('vilnius', 30, 'belgian', 1), ('vilnius', 30, 'czech', 0), ('vilnius', 30, 'czech', 1)]
{'avatar_name': 'laulau', 'language': 'czech', 'city': 'vilnius', 'date': 30, 'mobile': 1}
    hotel_id  price  stock     city  date language  mobile  avatar_id
0         59    119     52  vilnius    30    czech       1       3533
1        819    128    101  vilnius    30    czech       1       3533
2        420     60     44  vilnius    30    czech       1       3533
3        935     64     23  vilnius    30    czech       1       3533
4        136     88     43  vilnius    30    czech       1       3533
..       ...    ...    ...      ...   ...      ...     ...        ...
88       498     94     40  vilnius    30    czech       1       3533
89       516    195    117  vilnius    30    czech       1       3533
90       187    137     86  vilnius    30    czech       1       3533
91       687    110     52  vilnius    30    czech       1       3533
92       408    110     63  vilnius    30    czech       1       3533

[93 rows x 8 columns]

In [5]:
requete.json()

{'message': "1 validation error for PricingRequest\ncity\n  Unknown city 'valleta', must be one of ['amsterdam', 'copenhagen', 'madrid', 'paris', 'rome', 'sofia', 'valletta', 'vienna', 'vilnius'] (type=value_error)"}

## Mise en lien des requêtes et des features des differents hotels

In [12]:
hotels_features = pd.read_csv(os.path.join('features', 'features_hotels.csv'))
laulau_requests_copenhagen = pd.read_csv(os.path.join('requests', 'laulau_copenhagen_30_0.csv'))
laulau_requests_copenhagen = laulau_requests_copenhagen.drop(columns = 'Unnamed: 0')

In [13]:
laulau_requests_copenhagen

     hotel_id  price  stock        city  date language  mobile  avatar_id
0         519    208     68  copenhagen    30   french       0       3533
1         523     85     41  copenhagen    30   french       0       3533
2         898     86     24  copenhagen    30   french       0       3533
3         770    210     73  copenhagen    30   french       0       3533
4         562    215     74  copenhagen    30   french       0       3533
..        ...    ...    ...         ...   ...      ...     ...        ...
139       332    208     86  copenhagen    30   french       0       3533
140       978    299    120  copenhagen    30   french       0       3533
141       335     91     46  copenhagen    30   french       0       3533
142       385    283    101  copenhagen    30   french       0       3533
143       367     96     24  copenhagen    30   french       0       3533

[144 rows x 8 columns]

La commande ci-dessous permet de charger les informations en lien avec la requête lancée. Ainsi, on peut lier les caractéristiques de l'hôtel avec la recherche effectuée par un avatar, dans une ville et une langue particulière.

In [14]:
features_laulau_copenhagen = hotels_features.loc[hotels_features['hotel_id'].loc[laulau_requests_copenhagen['hotel_id']]]
features_laulau_copenhagen = features_laulau_copenhagen.reset_index()

In [15]:
df = pd.concat([features_laulau_copenhagen, laulau_requests_copenhagen[['price', 'stock', 'date', 'language', 'mobile']]], axis = 1)
df

,index,hotel_id,group,brand,city,parking,pool,children_policy,price,stock,date,language,mobile
0,519,519,Yin Yang,Royal Lotus,copenhagen,0,0,0,208,68,30,french,0
1,523,523,Independant,Independant,copenhagen,0,0,0,85,41,30,french,0
2,898,898,Yin Yang,8 Premium,copenhagen,1,0,0,86,24,30,french,0
3,770,770,Morriott International,Morriot,copenhagen,1,1,0,210,73,30,french,0
4,562,562,Chillton Worldwide,Quadrupletree,copenhagen,0,0,0,215,74,30,french,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,332,332,Chillton Worldwide,Quadrupletree,copenhagen,1,1,0,208,86,30,french,0
140,978,978,Chillton Worldwide,Chill Garden Inn,copenhagen,1,0,0,299,120,30,french,0
141,335,335,Independant,Independant,copenhagen,0,0,0,91,46,30,french,0
142,385,385,Accar Hotels,Safitel,copenhagen,0,0,0,283,101,30,french,0
143,367,367,Yin Yang,8 Premium,copenhagen,0,0,0,96,24,30,french,0

## Automatisation du code pour création des datasets

On va chercher à créer une liste contenant le nom de tous les avatars.

In [8]:
r = requests.get(path(f"avatars/{user_id}"))
list_avatars = []
for avatar in r.json():
    list_avatars.append(avatar['name'])

Ayant tous les avatars, on peut créer les datasets pour chacun des avatars, s'il n'existe pas déjà, et les compléter avec les données récupérées.

In [9]:
hotels_features = pd.read_csv(os.path.join('features', 'features_hotels.csv'))

Le code ci-dessous permet de créer le dataset associé à un avatar précis.

In [16]:
list_requests = glob.glob(os.path.join('requests', '*'))
list_requests = [request.split('\\')[-1] for request in list_requests]
df = pd.DataFrame([])
list_avatars = ['laulau']
for avatar in list_avatars:
    for request in list_requests:
        name_avatar_request = request.split('_')[0] 
        print(name_avatar_request)
        if not os.path.exists(os.path.join('datasets', avatar + '_data.csv')):
            if (avatar==name_avatar_request):
                request_avatar = pd.read_csv(os.path.join('requests', request))
                request_avatar = request_avatar.drop(columns = 'Unnamed: 0')
                features_avatar = hotels_features.loc[hotels_features['hotel_id'].loc[request_avatar['hotel_id']]]
                features_avatar = features_avatar.reset_index()
                df = pd.concat([features_avatar, request_avatar[['price', 'stock', 'date', 'language', 'mobile']]], axis = 1)
                df['avatar_name'] = [avatar for i in range(len(df.index))]
                df.to_csv(os.path.join('datasets', avatar + '_data.csv'))
        elif (avatar==name_avatar_request):
                df_old = pd.read_csv(os.path.join('datasets', avatar + '_data.csv'))
                df_old = df_old.drop(columns = 'Unnamed: 0')
                request_avatar = pd.read_csv(os.path.join('requests', request))
                request_avatar = request_avatar.drop(columns = 'Unnamed: 0')
                features_avatar = hotels_features.loc[hotels_features['hotel_id'].loc[request_avatar['hotel_id']]]
                features_avatar = features_avatar.reset_index()
                df_aux = pd.concat([features_avatar, request_avatar[['price', 'stock', 'date', 'language', 'mobile']]], axis = 1)
                df = pd.concat([df,df_aux], axis = 0)
                df['avatar_name'] = [avatar for i in range(len(df.index))]
                df.to_csv(os.path.join('datasets', avatar + '_data.csv'))

laulau
True
laulau
True
laulau
True
laulau
True
laulau
True
laulau
True
laulau
True
laulau
True
laulau
True
laulau
True
laulau
True
Nini
False
Nini
False

In [12]:
df.head()

,index,hotel_id,group,brand,city,parking,pool,children_policy,price,stock,date,language,mobile,avatar_name
0,519,519,Yin Yang,Royal Lotus,copenhagen,0,0,0,208,68,30,french,0,Tess
1,523,523,Independant,Independant,copenhagen,0,0,0,85,41,30,french,0,Tess
2,898,898,Yin Yang,8 Premium,copenhagen,1,0,0,86,24,30,french,0,Tess
3,770,770,Morriott International,Morriot,copenhagen,1,1,0,210,73,30,french,0,Tess
4,562,562,Chillton Worldwide,Quadrupletree,copenhagen,0,0,0,215,74,30,french,0,Tess